# Ignore compiled files
**/Shard.deps.json
**/Shard.runtimeconfig.json
**/Shard.runtimeconfig.dev.json
**/Shard.pdb
**/Shard.exe
**/Shard.dll
Shard/ConsoleApp1/obj/

# Ignore Visual Studio folder
.vs/